.btn-edit, .btn-edit:focus {
    background-color: #359919;
    color: white;
}

.btn-edit:hover, btn-edit:active {
    background-color: #2e8817;
    color: white;
}

.btn-delete, .btn-delete:focus {
    background-color: #991936;
    color: white;
}

.btn-delete:hover, .btn-delete:active {
    background-color: #84132E;
    color: white;
}