<!DOCTYPE html>
<html lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard_layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Criar Produto</title>
    <link rel="stylesheet" href="/assets/css/styledashboard.css">
</head>
<body>

<div layout:fragment="content" class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4 shadow bg-white">
                <h2 class="text-center mb-5">Criar Produto</h2>
                <form method="post" th:action="@{/produtos/criar}" th:object="${produto}">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Nome</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="*{nome}">
                            <!-- Exibir erro de validação para o campo nome -->
                            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="text-danger" th:errors="*{nome}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Preço (custo)</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" step="0.01" th:field="*{precoCusto}">
                            <p th:if="${#fields.hasErrors('precoCusto')}" th:errorclass="text-danger" th:errors="*{precoCusto}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Preço (venda)</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" step="0.01" th:field="*{precoVenda}">
                            <p th:if="${#fields.hasErrors('precoVenda')}" th:errorclass="text-danger" th:errors="*{precoVenda}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Estoque</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" th:field="*{qntdEstoque}">
                            <p th:if="${#fields.hasErrors('qntdEstoque')}" th:errorclass="text-danger" th:errors="*{qntdEstoque}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-danger" href="/produtos-page" role="button">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
