<!DOCTYPE html>
<html lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard_layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Produtos</title>
    <script src="/assets/js/produtos.js" defer></script>
    <link rel="stylesheet" href="/assets/css/styledashboard.css">
    <link rel="stylesheet" href="/assets/css/produtos.css">

</head>
<body>

<div layout:fragment="content">
    <h2 class="section-title text-center mt-5">Produtos cadastrados</h2>

    <div class="mt-5 card table-card shadow-sm">
        <table class="table table-striped text-center mb-0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço de venda</th>
                <th>Preço de custo</th>
                <th>Estoque</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody id="tabelaProdutos"></tbody>
        </table>
    </div>

    <a class="btn btn-primary mt-4" href="/produtos/criar" role="button">Adicionar</a>
</div>

</body>
</html>