<!doctype html>
<html class="no-js" lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard_layout}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/cadastro.css">
    <link rel="stylesheet" href="/assets/css/styledashboard.css">
    <title>Login</title>
    <script src="/assets/js/cadastro.js" defer></script>
</head>

<body>

<div layout:fragment="content">
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <h4 class="mb-5">Cadastro</h4>
                                    </div>

                                    <form class="mt-4" id="cadastro">
                                        <p>Crie uma conta!</p>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="text" class="nome form-control" name="nome" id="nome">
                                            <label class="form-label" for="cpf">Nome</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="text" class="cpf form-control" name="cpf" id="cpf">
                                            <label class="form-label" for="cpf">CPF (somente números)</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" class="senha form-control" name="senha" id="senha">
                                            <label class="senha form-label" for="senha">Senha</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="tel" class="tel form-control" name="telefone" id="telefone">
                                            <label class="tel form-label" for="telefone">Telefone</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <select class="form-select form-control" name="grupo_id" id="grupo_id" required>
                                                <option value="2">Gerente</option>
                                                <option value="1">Funcionário</option>
                                            </select>
                                            <label class="form-label" for="grupo_id">Tipo de Usuário</label>
                                        </div>


                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn mb-3 px-5 py-2" type="submit">Cadastrar</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center" style="background-color: #991936;">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <img class="d-block mx-auto mb-5" src="/assets/img/logo-branca.svg"
                                         style="width: 120px;" alt="logo">
                                    <h4 class="mb-4">Padaria</h4>
                                    <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>

</html>
