<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">>
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/usuarios.js" defer></script>

</head>
<body>

<div layout:fragment="content">
    <h3 class="mt-5">Produtos cadastrados</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço de venda</th>
            <th>Estoque</th>
        </tr>
        </thead>
        <tbody id="tabelaProdutos"></tbody>
    </table>


    <h3 class="mt-5">ADICIONAR PRODUTOS</h3>

    <div id="produtos">

        <form action="" , id="#produtos">
            <input type="text" class="nome_produto" name="nome_produto" id="nome_produto" placeholder="Nome:">
            <input type="number" class="preço_custo" name="preço_custo" id="preço_custo" placeholder="Preço(custo):">
            <input type="number" class="preço_venda" name="preço_venda" id="preço_venda" placeholder="Preço(venda):">
            <input type="number" class="estoque" name="estoque" id="estoque" placeholder="Quantidade em estoque:">

            <button type="submit">Adicionar</button>
        </form>

    </div>


    <h3 class="mt-5">REMOVER PRODUTO</h3>

    <div id="produtos_del">

        <form action="" , id="#produtos_del">
            <input type="number" class="id_produto_del" name="id_produto_del" id="id_produto_del"
                   placeholder="ID do produto:">
            <button type="submit">Remover</button>
        </form>

    </div>


</div>

</body>
</html>