<!DOCTYPE html>
<html lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard_layout}">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link rel="stylesheet" href="/assets/css/styledashboard.css">
    <link rel="stylesheet" href="/assets/css/usuarios.css">
    <script src="/assets/js/usuarios.js" defer></script>

</head>
<body>

<div layout:fragment="content" class="container">
    <h2 class="section-title text-center mt-5">Usuários cadastrados</h2>

    <div class="mt-5 card table-card shadow-sm">
        <table class="table table-striped text-center mb-0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="tabelaUsuarios"></tbody>
        </table>
    </div>
</div>

</body>
</html>