<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <script src="/js/usuarios.js" defer></script>
</head>

<body>
    <h1>Usuários cadastrados</h1>


    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody id="tabelaUsuarios"></tbody>
    </table>


    <h1>Produtos cadastrados</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço de venda</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody id="tabelaProdutos"></tbody>
    </table>




</body>

</html>