<!DOCTYPE html>
<html lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard_layout}">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link rel="stylesheet" href="/assets/css/styledashboard.css">
    <script src="/assets/js/usuarios.js" defer></script>

</head>
<body>

<div layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
        </tr>
        </thead>
        <tbody id="tabelaUsuarios"></tbody>
    </table>


    <br>


    <div id="usuarios_del">

        <form action="" , id="#usuarios_del">
            <input type="number" class="id_usuario_del" name="id_usuario_del" id="id_usuario_del"
                   placeholder="ID do usuário:">
            <button type="submit">Remover</button>
        </form>

    </div>


</div>

</body>
</html>